---
layout: base.njk
permalink: /gracias/
titulo: Gracias
---
<section class="seccion"><div class="contenedor">
  <h1 class="cabeza-pagina__titulo">Gracias.</h1>
  <p class="cabeza-pagina__bajada">Recibimos tu email. Te vamos a escribir cuando haya novedades.</p>
  <p class="mt-2"><a class="boton" href="/">Volver al inicio</a></p>
</div></section>
